<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new message</title>
</head>
<body>
    <h3>type your message</h3>
    <form method="post" action="/chat">
        <input placeholder="who sent the messge" name="form">
        <br>/<br>
        <textarea placeholder="type your message" name="masg"></textarea>
        <br>/<br>
        <input placeholder="receiver name" name="to">
        <br>/<br>
        <button>create chat</button>
    </form>
</body>
</html>